html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-size: 24px;
  color: #50382c;
  font-family: "Anek Latin", sans-serif;
}

.root {
  padding-top: 55px;
  background-color: #e9e7ea;
}

.header {
  top: 0;
  z-index: 9;
  height: 50px;
  display: flex;
  position: sticky;
  align-items: center;
  position: -webkit-sticky;
  background-color: #e9e7ea;
  padding: 0 86px;
  justify-content: space-between;
}
.header__title {
  font-size: 36px;
}

.navigation {
  display: flex;
}
.navigation ul {
  display: flex;
  margin-right: 130px;
}
.navigation__link {
  margin-right: 62px;
  text-decoration: none;
}
.navigation__link:last-child {
  margin-right: 0;
}
.navigation__link a {
  color: #50382c;
  text-decoration: none;
  transition: all 0.4s;
}
.navigation__link a:hover {
  text-decoration: underline;
}
.navigation__actions {
  display: flex;
}
.navigation__actions :first-child {
  margin-right: 30px;
}
.navigation__actions i {
  width: 28px;
  height: 28px;
  display: flex;
  transition: all 0.4s;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  color: #50382c;
}
.navigation__actions i:hover {
  background-color: #b7b1ba;
}

.home {
  display: flex;
  position: relative;
  align-items: center;
  height: calc(100vh - 105px);
  justify-content: space-between;
  padding-left: 86px;
}
.home__content {
  flex-shrink: 0;
  flex-basis: 40%;
}
.home__content h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 74px;
}
.home__logo {
  height: 100%;
}
.home__logo img {
  width: auto;
  height: 100%;
}

.line {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  opacity: 30%;
  position: absolute;
  background-color: #000000;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.btn {
  border: none;
  height: 48px;
  color: #ffffff;
  padding: 0 38px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-transform: uppercase;
  background-color: #50382c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-secondary {
  color: #50382c;
  background-color: #ffffff;
  border: 1px solid #50382c;
}

.about-us {
  position: relative;
  padding: 70px 86px 0 86px;
}
.about-us__title {
  font-size: 64px;
  margin-bottom: 25px;
}
.about-us__content {
  display: flex;
  justify-content: space-between;
}
.about-us__item {
  width: 46%;
  flex-shrink: 0;
}
.about-us__item p {
  margin-bottom: 25px;
}
.about-us__item:first-child button {
  margin-bottom: 70px;
}
.about-us__item:first-child img {
  width: 100%;
  height: 820px;
}
.about-us__item:last-child img {
  width: 100%;
  height: 720px;
  margin-bottom: 70px;
}

.products {
  padding: 70px 86px 155px 86px;
}
.products__title {
  font-size: 64px;
  text-align: center;
  margin-bottom: 45px;
}
.products__description {
  text-align: center;
  margin-bottom: 85px;
}
.products__card {
  margin-right: 34px;
}
.products__card img {
  margin-bottom: 20px;
}
.products__card h4 {
  font-size: 36px;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .products__card img {
    margin: 0 auto;
  }
}
.products__actions {
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
}
.products__actions div {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #50382c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}/*# sourceMappingURL=styles.css.map */